<%- include('./partials/head', 
  { 
    // HEAD data
    title: 'Home',
    description: 'Welcome to the home page',
    image: ''
  }) 
%>
<div class="container">

  <%- include('./partials/buttons', { 
    buttons: 
    [
      {
          link: "/",
          style: {
              type: "primary"
          },
          text: "Return to playlists",
          icon: false,
      }
    ]
   }) %>


  <h1>
    Stories in <%= playlist.title %>
  </h1>
  <p>
    <%= playlist.description %>
  </p>

  <div class="story">
    <% stories.forEach(item => { %>
      <img src="https://fdnd-agency.directus.app/assets/<%= item.tm_story_id.image %>" alt="<%= item.tm_story_id.title %>">
      <h2><%= item.tm_story_id.title %></h2>   
      
      <%- include('./partials/buttons', { 
        buttons: 
        [
          {
              link: "/" + playlist.slug + "/" +item.tm_story_id.slug,
              style: {
                  type: "primary"
              },
              text: "PLAY STORY",
              icon: false,
          }
        ]
       }) %>

    <% }) %>
  </div>



</div>


<%- include('./partials/foot') %>
